.footer{
			background:#ededed;
			
		}
		.footer-content{
			width:980px;
			margin:0 auto;
		}
		.footer-content-first-layer{
			margin:0 auto;
			over-flow:hidden;
			display:black;
		}
		.footer-content-first-layer a{
			float:left;
			font-family:Arial,"??";
			color:#666;
			font-size:12px;
			padding:5px;
		}
		.footer-ul{
			float:left;
		}
		.footer-ul li{
			text-overflow £ºellipsis;
			float:left;
			display: inline;
			color: #888;
			position: relative;
			font-family:Arial,"??";
			color:#666;
			font-size:12px;
			padding:5px;
	  }